.stock-container {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.stock-container .name h3,
.stock-container .name h4 {
  display: inline-block;
}

.positive {
  color: green;
}
.negative {
  color: red;
}
.small-change {
  font-size: 0.8em;
}
.large-change {
  font: size 1.2em;
}
