<div class="stock-container" *ngFor="let stock of stocks; index as i; trackBy: trackStockByCode">
    <div class="name">
        <h3>{{stock.name}}</h3>
        -
        <h4>{{stock.code}}</h4>
    </div>
    <button 
    (click) = "onToggleFavorite()"
    *ngIf = "!stock.isFavorite"
    > {{ stock.isFavorite ? " Remove from" : "Add to "}} Favorite</button>
<!-- 'ngStyle' adds a style for the component based on the properties of the stock-->
    <div [class] = "stock.isPositiveChange ? 'positive' : 'negative'">{{stock.price}}</div>
</div>

