<div class="header">
    <div class="header_left">
        <mat-icon>menu</mat-icon>
        <img
            [routerLink]="['/']"
            class="header__logo"
            src="/assets/logo.svg"
            alt="Youtube-logo"
        >
    </div>
    <form>
        <input type="text" placeholder="Search">
    </form>
    <div class="header_right">
        <mat-icon class="header__icon">open_in_new</mat-icon>
        <mat-icon class="header__icon">video_call</mat-icon>
        <mat-icon class="header__icon">apps</mat-icon>
        <mat-icon class="header__icon">notifications</mat-icon>
        <img
            [routerLink]="['/profile']"
            src="user?.photoURL"
            class="mat-card-avatar"
            title="Your Profile"
        >
    </div>
</div>
