<div class="product-container">
    <img [src]="product.image" [alt]="product.name">
    <h3>Product Name: {{product.name}}</h3>
    <h3 [ngClass]="saleClasses">Produt Price: {{product.price}}</h3>
    <select>
        <option *ngFor = "let quantity of quantities; index as i ">{{quantity}}</option>
    </select>
    <p>
        <button (click) = "product.decreaseQuantity()" *ngIf = "product.quantity >0">-</button>
        {{product.quantity}}
        <button (click) = "product.increaseQuantity()">+</button>
    </p>
</div>
