<p>search-bar works!</p>
<mat-icon aria-hidden="false" aria-label="Home Icon">home</mat-icon>
<mat-icon aria-hidden="false" aria-label="Home Icon">whatshot</mat-icon>
<mat-icon aria-hidden="false" aria-label="Home Icon">subscriptions</mat-icon>
<mat-icon aria-hidden="false" aria-label="Home Icon">videolibrary</mat-icon>
<mat-icon aria-hidden="false" aria-label="Home Icon">history</mat-icon>
<mat-icon aria-hidden="false" aria-label="Home Icon">watch</mat-icon>
<mat-icon aria-hidden="false" aria-label="Home Icon">thumbup</mat-icon>
