<div class="side-bar">
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">home</mat-icon>
        Home
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">whatshot</mat-icon>
        Trending
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">subscriptions</mat-icon>
        Subscription
    </p>
    <hr class="sidebar_hr">
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">video_library</mat-icon>
        Library
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">history</mat-icon>
        History
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">tv</mat-icon>
        Your Videos
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">watch</mat-icon>
        Watch Later
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Home Icon">thumb_up_alt</mat-icon>
        Liked videos
    </p>
    <button mat-button>
        <mat-icon>expand_more_outlined</mat-icon>
        Show More
    </button>
    <hr class="sidebar_hr">
</div>
