<h2>Create stock form</h2>
<div class="form-group">
    <form (ngSubmit) = "createStock()">
        <div class="stock-name">
           Stock Name: <input 
            type="text"
            placeholder="Stock Name"
            [value] = "stock.name"
            name="stockName"
          [(ngModel)]="stock.name"
            >
        </div>
        <div class="stock-code">
           Stock Code: <input 
            type="text"
            placeholder="Stock Code"
            [value] = "stock.code"
            name="stockCode"
          [(ngModel)]="stock.code"
            >
        </div>
        <div class="stock-code">
           Stock Price: <input 
            type="number"
            placeholder="Stock Price"
            name="stockPrice"
          [(ngModel)]="stock.price"
            > 
        </div>
        <div class="stock-exchange">
            Stock Exchange:
            <div>
                <input 
                type="radio"
                name="stockExchange"
              [(ngModel)]="stock.exchange"
              value="NYSE"
                > NYSE
            </div>
        <div>
            <input 
            type="radio"
            value = "NASDAQ"
            name="stockExchange"
          [(ngModel)]="stock.exchange"
            > NASDAQ
        </div>
        <div>
            <input 
            type="radio"
            value = "OTHER"
            name="stockExchange"
          [(ngModel)]="stock.exchange"
            > Other
        </div>
    </div>
    <div class="stock-confirm">
        <input type="checkbox" name="stockConfirm" [(ngModel)]= "confirmed">
        I confirm that the information provided above is accurate
    </div>
    </form>
    <button [disabled] = "!confirmed" type="submit"> Create</button>
</div>
<h4>Stock Name is {{stock | json}}</h4>
