<h2>Create stock form</h2>
<div class="form-group">
    <form (ngSubmit) = "createStock()">
        <p>Changes from green to red when it is invalid</p>
        <div class="stock-name">
           Stock Name: <input 
            type="text"
            placeholder="Stock Name"
            required
            [value] = "stock.name"
            name="stockName"
          [(ngModel)]="stock.name"
            >
        </div>
        <p>Changes from green to red when it has been modified</p>
        <div class="stock-code">
           Stock Code: <input 
            type="text"
            placeholder="Stock Code"
            [value] = "stock.code"
            name="stockCode"
          [(ngModel)]="stock.code"
            >
        </div>
        <p>Changes from green to red when it is visited by the user, regardless of change</p>
        <div class="stock-price">
           Stock Price: <input 
            type="number"
            placeholder="Stock Price"
            name="stockPrice"
          [(ngModel)]="stock.price"
            > 
        </div>
        <div class="stock-exchange">
            Stock Exchange:
            <select name="stockExchange" [ngModel] = "stock.exchange">
                <option *ngFor="let exchange of exchanges" [ngValue] ="exchange">{{exchange}}</option>
            </select>
        </div>
    <div class="stock-confirm">
        <input type="checkbox" name="stockConfirm" [(ngModel)]= "confirmed">
        I confirm that the information provided above is accurate
    </div>
    </form>
    <button [disabled] = "!confirmed" type="submit"> Create</button>
</div>
<h4>Stock Name is {{stock | json}}</h4>
<h4>Data has been confirmed: {{confirmed}}</h4>
